/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--time-color: rgb(130, 130, 130);
	--background: #fff;
	--menu-border: #111;
	--header-border: rgb(232, 232, 232);
	--button-color: #fff;
	--button-background: #262626;
	--color-a: rgb(150, 79, 16);
	--color-text: #111;
	--color-hover: rgb(233, 159, 95);
	--focus-stateA: rgba(240, 171, 43, 0.626);
	--a-active: rgba(222, 97, 35, 0.751);
	--color-footer-text: black;
	--border-blokjeA: grey;

}

/**********************/
/*font family's import*/
/**********************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Open+Sans:wght@300&display=swap');







/*****************************************/
/* Styling voor algemeen en nieuwspagina */
/*****************************************/

body {
	margin: 0;
	background-color: var(--background);

}

main article {
	max-width: 60rem;
	margin: 0 auto;
	padding: 0vw 2vw 7vw 7vw;
	border-left: 2px solid;
}


h1 {
	max-width: 60rem;
	margin: 0 auto;
	padding: 7vw 0vw 7vw 7vw;

	font-family: 'Montserrat', sans-serif;
	font-weight: 1000;
	font-size: 4em;
}


a {
	text-decoration: none;
}

a:focus {
	padding: .5em;

}

a:active {
	color: var(--a-active);
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 1.5em;
	color: var(--color-text);
	text-decoration: none;

	padding: 0 0 .2em 0;
	margin: 0;
}



main p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	line-height: 1.5;
	padding: .2em 0 0 0;
	margin: 0;

}


time {
	font-family: 'Open Sans', sans-serif;
	color: var(--time-color);
	font-size: 1.15em;

	padding: 0;
	margin: 0;
}









/***********************/
/*paginanummers linkjes*/
/***********************/

main section:first-of-type section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 4vw 7vw 10vw;
}

main section:first-of-type section a {
	font-family: 'Open Sans', sans-serif;
	padding: 1em 1.5em;
	border: solid 1px var(--border-blokjeA);
	border-radius: 1px;
	color: var(--border-blokjeA);
	text-decoration: none;
	margin: 0em 1em;

}

main section:first-of-type section a:hover {
	color: var(--color-text);
	text-decoration: none;
	border: solid 1px var(--color-text);
}

main section:first-of-type section a:active {
	border: solid 2px;
	font-weight: bold;
	transition: .1s;
}


@media (max-width:85em) {
	main section:first-of-type section a:nth-last-of-type(2) {
		order: -3;
	}

	main section:first-of-type section a:nth-last-of-type(3) {
		order: 2;
	}

	main section:first-of-type section a:nth-last-of-type(4) {
		order: 6;
	}
}

@media (max-width:80em) {
	main section:first-of-type section a:nth-last-of-type(5) {
		order: 3;
	}

	main section:first-of-type section a:nth-last-of-type(6) {
		order: 1;
	}

	main section:first-of-type section a:nth-last-of-type(7) {
		order: 7;
	}
}

@media (max-width:75em) {
	main section:first-of-type section a:nth-last-of-type(1) {
		order: 5;
	}

	main section:first-of-type section a:nth-last-of-type(2) {
		order: 4;
	}

	main section:first-of-type section a:nth-last-of-type(3) {
		order: -2;
	}
}

@media (max-width:70em) {
	main section:first-of-type section a:nth-last-of-type(4) {
		order: -5;
	}

	main section:first-of-type section a:nth-last-of-type(5) {
		order: -1;
	}

	main section:first-of-type section a:nth-last-of-type(6) {
		order: 3;
	}
}











/*************************************/
/*linkje van ieder artikel(lees meer..)*/
/*************************************/

main article a:last-of-type {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 1.15em;
	color: var(--color-a);

	transition: .3s;
}


main article>a:hover {
	color: var(--color-hover);
	transition: .1s;
}











/***********/
/*Navigatie*/
/***********/


header {

	/*alle content naast elkaar en verticaal centreren*/
	display: flex;
	justify-content: space-between;
	align-items: center;

	/*aan de top laten plakken*/
	position: sticky;
	top: 0;
	min-height: 4em;
	padding: 0 1em;
	background-color: var(--background);
	line-height: 1;
	border-bottom: 2px solid var(--header-border);

	z-index: 2;
}


header a {
	padding: .5em 0;
	color: var(--color-text);
	text-decoration: none;
}









/****************/
/* social media */
/****************/

header>ul:last-of-type {
	/* icon en tekst met gap-je naast elkaar */
	display: flex;
}

/* link icon */
header>ul:last-of-type img {
	width: auto;
	height: 1.5em;
	padding: 0 1.08em 0 0;
}

header li {
	list-style-type: none;
}

nav li {
	padding: 0 0em 0em 2em;
}

header>ul:last-of-type img:hover{
transform:scale(115%);
transition:.2s;
}







/*****************/
/* BEIDE BUTTONS */
/*****************/
header button {
	padding: .5em .5em .2em;
	appearance: none;
	background-color: var(--button-background);
	border: none;
	border-radius: .25em;
	text-align: center;
	color: var(--button-color);
}

header button img {
	height: 2em;
}






/***************/
/* SLUIT BUTTON */
/***************/
header nav button {
	justify-self: start;
}








/************/
/* HET MENU */
/************/
header nav {

	background-color: var(--background);
	/*hele scherm bedekken*/
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	translate: -100% 0%;

	transition: .3s;
}

/* als menu open is */
header nav.toonMenu {
	translate: 0% 0%;
}





/*******************/
/* LIJST MET LINKS */
/*******************/
header nav ul {
	margin: 0;
	padding: 1em 2em 1em 1em;

}












/************************/
/* EEN LINK IN DE LIJST */
/************************/
header nav a {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	border-bottom: solid 1px var(--menu-border);
	transition: .1s;
}

nav a:hover {
	color: var(--a-active);
	transition: .2s;
}









/****************************************************************/
/* styling voor de header als de browser minimaal 70em breed is */
/****************************************************************/
@media (min-width:75em) {
	header>button {
		display: none;
	}

	header nav {
		position: static;
		translate: unset;
		padding: 0;

		background: none;
	}

	header nav button {
		display: none;
	}

	header nav ul {
		display: flex;
		gap: 1em;
	}

	header nav a {
		flex-direction: column;

		border: none;
	}

	header>a:last-of-type {
		flex-direction: column;
	}
}











main section:nth-of-type(2) {
	background-image: url(../images/guus-fixed.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	max-width: 100%;
	padding: 5em 1em;


}

main section:last-of-type article {

	background-color: var(--background);
	border: none;
	padding: 0;

}

form ul,
section:last-of-type p {
	display: grid;
	padding: 2vw 7vw;
	max-width: 60rem;
	margin: 0 auto;

}

form li {
	display: grid;
	list-style-type: none;
	margin-bottom: 2em;
}

label {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

input {
	border: 1px solid;
	border-radius: 3px;
	padding: .7em;
	font-size: 1em;
	width: 80%;
	transition: 30s;
}

input[type="submit"] {
	background-color: var(--color-a);
	color: var(--button-color);
	width: min-content;
	line-height: 1.5em;
}


input:hover {
	width: 170%;
	transition: 30s;
}

input[type="submit"]:hover{
	width:min-content;
	
}







main section:last-of-type a {
	font-size: 1em;
	font-style: normal;
	transition: .3s;
	text-decoration: underline;
	color: var(--color-a);
	text-decoration-thickness: 2px;
}

main section:last-of-type a:hover {
	text-decoration: overline;
	color: var(--color-hover);
	text-decoration-thickness: 2px;
}








/****************************/
/*Styling voor muziekpagina */
/****************************/

.BodyMuziek main section[type="laatsteHoop"] {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
	gap: 0.5em;
	margin: 0 10%;
	padding: 0 0 2em;
}

.BodyMuziek main article {
	padding: 0;
	border: none;
	position: relative;
}

.BodyMuziek main img {
	display: block;
	width: 100%;
	height: auto;
	transition: 1s;
	opacity: 1;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.BodyMuziek main article section p{
	display:flex;
	align-items: center;
	color:white;
	text-align: center;
	font-family: Impact, sans-serif;
	font-size:2.4em;
	padding: 0;
	
}

.BodyMuziek main article section button{
	background-color: rgb(241, 167, 30);
	color: var(--background);
height: 3em;
font-size: 1.2em;
border:none;
font-family: 'Open Sans', sans-serif ;
font-weight: 900;
margin: 0 .5em;
}

.BodyMuziek main article section button:active{
	background-color: rgb(237, 185, 90);
}

.BodyMuziek main article section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.4);
	display: grid;
	opacity: 0;
transition:.3s;
}

.BodyMuziek main article section:hover {
	opacity: 1;
	transition:.5s;
}

.BodyMuziek :first-of-type section article:active {
	opacity: 1;
	transition: .1s;

}










footer ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1.5em 0;
	padding: 0 5vw;
}

footer section li {
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	padding: 0 3vw;
}

footer section a {
	font-weight: bolder;
	color: var(--color-footer-text);
}

/*shift + iets is terug, k is links, h is koppen, tab is links en buttons*/

/*bronnenlijst*/
/*




/* Learn web(03-08-2023) How To Overlay A Text On An Image | CSS Overlay[Video], 
Youtube. Geraadpleegd op: 09-12-2023, van:https://www.youtube.com/watch?v=Qt-70hrdJZI